
@using BookShop.Web.Infrastructures;
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
 @Html.Action("GetBooks","Home")  

@*<div style="border:1px solid black; width:400px ;height:35px;margin:0 auto;">
    <div id="firstPage" style="border:1px solid green;width: 65px;height: 20px;margin-left: 10px;margin-top: 7px; float:left;text-align:center; cursor:pointer">第一页</div>
    <div id="nextPage" style="border:1px solid green;width: 65px;height: 20px;margin-left: 10px;margin-top: 7px; float:left;text-align:center; cursor:pointer">下一页</div>
    <div id="lastPage" style="border:1px solid green;width: 65px;height: 20px;margin-left: 10px;margin-top: 7px; float:left;text-align:center;cursor:pointer">最后一页</div>
</div>*@

